/* Ego's Custom Overrides */
/*p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 0.1px;
  font-size: 15px;
}*/

body {
  background-color: #f9f9f9;
  padding: 60px 0;
  /*font-family: 'Montserrat', sans-serif;*/
}

.w-col {
  padding-left: 10px;
  /*padding-right: 20px;*/
}

.w-container {
  max-width: 100%;
}

.top-border {
  padding: 50px 30px;
  border-bottom: 1px solid #f5f5f5;
}

.filter-cont {
  margin: 120px 0 30px 0;
  /*z-index: 9999;
  position: relative;*/
}

.brand-logo {
  /*background-image: url('../images/logo_150-bw.png');*/
  background-image: url('../images/logo_150-sprite.png');
  background-size: 150px;
  display: table;
  float: left;
  height: 150px;
  width: 150px;
  margin-top: -25px;
  margin-left: -10px;
  background-repeat: no-repeat;
  background-position: left top;
}

.brand-logo:hover {
  background-position: left bottom;
}

.filters {
  margin-left: -25px;
  margin-bottom: -20px;
}

.w-slider-mask {
  /* consider making max-height inline per page */
  max-height: 700px;
  margin: 0 auto;

}

.slide-1 {
  background-image: none;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.w-slider-mask .w-slide img {
  /*min-height: 450px;*/
  display: block;
  width: 100%;
  margin: 0 auto;
  max-height: 700px;
  object-fit: contain;
}

.img-cover {
  object-fit: cover !important;
}

iframe.videoContainer {
  display: block;
  /*object-fit: contain;*/
  vertical-align: middle;
  width: 100%;
}

/* for fullscreen width images */
.maximizeItem {
  display: block;
  width: 100%;
  height: 100% !important;
  object-fit: cover !important;
  vertical-align: middle;
}

a.text-link {
  margin-bottom: 10px;
  font-family: Lekton, sans-serif;
  font-weight: 400;
  color: #333;
  font-size: 15px;
  line-height: 26px;
  border-bottom: 1px dotted #999;
  text-decoration: none;
}

a.text-link:hover {
  color: #F3958F;
  border-bottom: 1px solid #F3958F;
}

.about-photo-container {
  overflow: hidden;
  display: table;
  width: 250px;
  height: 250px;
  border-radius: 500px;
  background-image: url('../images/about-me-photo-01.jpg');
  background-size: cover;
}

.button {
    margin-bottom: 3px;
}

.port-item-spc {
  margin: 40px 0 60px 0;
  width: 100%;
}

.item-description {
  margin: 0;
  padding: 0 40px 50px 40px;
}

.section-imp {
  padding: 20px 40px;
  background-color: transparent;
}

.item-detail {
  margin-bottom: 10px;
  font-family: Lekton, sans-serif;
  font-weight: 400;
  color: #818181;
  font-size: 15px;
  line-height: 26px;
}

/* used in About page template */
.section-imp.more-padding {
  padding: 20px 150px;
}

.about-default {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

/* Contact page */
.contact-container {
  margin-top: 70px;
}

.item {
  margin-bottom: 0;
  padding: 10px;
}

h4.about-blurb {
  font-family: Lekton, sans-serif;
  font-size: 20px;
  font-weight: 700;
}

/* Responsive Stuff */
@media screen and (min-width: 1400px) {
  .w-container {
    max-width: 100%;
  }

  .about-left-side {
    width: 35%;
  }

  .about-right-side {
    width: 65%;
  }
}

@media (max-width: 991px) {
  body {
    padding-top: 0;
  }

  .about-photo-container {
    width: 200px;
    height: 200px;
    border-radius: 500px;
    margin: 0 auto;
  }

  .responsive-menu {
    padding: 20px;
  }

  .responsive-nav {
    padding: 0 20px;
  }

  .filters {
    margin-left: 0;
  }

  .filter-cont {
    margin: 20px 0 20px 0;
  }

  .section-imp {
    padding: 0 20px;
    margin-top: 0px;
  }

  .brand-logo {
    width: 140px;
    height: 140px;
    background-size: 140px;
    margin: 0;
  }

  .item {
    padding: 20px;
  }

  .grid {
    margin: 0 -20px;
  }

  .port-item-spc {
    margin: 0 0 60px 0;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .about-photo-container {
    overflow: hidden;
    width: 150px;
    height: 150px;
    border-radius: 500px;
    margin: 0 auto;
  }

  .brand-logo {
    background-size: 80px;
    width: 80px;
    height: 80px;
    margin: 0;
  }

}

@media (max-width: 479px) {
  .about-photo-container {
    display: none;
  }

  .section-imp {
    padding: 0 20px;
    margin-top: 0px;
  }

  .filter-cont {
    margin:0 0 20px 0;
  }
}
