/* Ego's Custom Overrides */

body {
  background-color: #fafafa;
  padding: 60px 0;
}

.w-col {
  padding-left: 10px;
  /*padding-right: 20px;*/
}

.w-container {
  max-width: 100%;
}

.top-border {
  padding: 30px;
}

.filter-cont {
  margin: 80px 0 30px 0;
  /*z-index: 9999;
  position: relative;*/
}

a.text-link {
  margin-bottom: 10px;
  font-family: Lekton, sans-serif;
  font-weight: 400;
  color: #333;
  font-size: 15px;
  line-height: 26px;
  text-decoration: none;
}

a.text-link:hover {
  text-decoration: underline;
  color: #F3958F;
}

.about-photo-container {
  overflow: hidden;
  width: 250px;
  height: 250px;
  border-radius: 500px;
}

.button {
    margin-bottom: 3px;
}

.port-item-spc {
  margin: 0 0 60px 0;
  width: 100%;
}

.item-description {
  margin: 0;
  padding: 0 40px 150px 40px;
}

.section-imp {
  padding: 20px 40px;
}

/* used in About page template */
.section-imp.more-padding {
  padding: 20px 150px;
}

@media screen and (min-width: 1200px) {
  .w-container {
    max-width: 100%;
  }
}

/* Responsive Stuff */
@media (max-width: 991px) {

  body {
    padding-top: 0;
  }
  .about-photo-container {
    width: 200px;
    height: 200px;
    border-radius: 500px;
    margin: 0 auto;
  }

  .responsive-menu {
    padding: 20px;
  }

  .responsive-nav {
    padding: 0 20px;
  }

  .filter-cont {
    margin: 0 0 20px 0;
  }

  .section-imp {
    padding: 0 20px;
    margin-top: 0px;
  }
}

@media (max-width: 767px) {
  .about-photo-container {
    overflow: hidden;
    width: 200px;
    height: 200px;
    border-radius: 500px;
    margin: 0 auto;
  }
}

@media (max-width: 479px) {
  .section-imp {
    padding: 0 20px;
    margin-top: 0px;
  }

  .filter-cont {
    margin:0 0 20px 0;
  }
}
