//- ROYAL PRELOADER CONFIG IS IN scripts.js
//- 
//- link(rel='stylesheet', type='text/css', href='css/royal_preloader.css')
//- script(type='text/javascript', src='js/jquery.js')
//- script(type='text/javascript', src='js/royal_preloader.min.js')
//- script(type='text/javascript').
//-   Royal_Preloader.config({
//-     mode           : 'logo',
//-     logo           : 'images/logo_150-bw.png',
//-     logo_size      : [80, 80],
//-     text_colour    : '#999',
//-     showProgress   : true,
//-     showPercentage : true,
//-     background     : '#FFFFFF'
//-   });

//- SITE TITTLE
meta(charset='utf-8')
title= siteName
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='generator', content='HTML5 Template')

//- OPEN GRAPH META
meta(property='og:site_name', content='Ego Faylona: Portfolio | #{pageTitle}')
meta(property='og:title', content='Ego Faylona: Portfolio')
meta(property='og:description', content='San Francisco-based visual designer with focused skill point allocation in brand and UI/UX design– web and mobile. Wears other hats, too.')
meta(property='og:image', content='http://egofaylona.com/images/logo_1500-c.png')
meta(property='og:image:type', content='image/png')
meta(property='og:image:width', content='1500')
meta(property='og:image:height', content='1500')
meta(property='og:url', content='http://egofaylona.com/')
meta(property='og:type', content='portfolio')

meta(content='Ego Faylona, Art Director, UI/UX Designer, Visual Designer, Designer, Mobile Applications Designer, Product Designer, San Francisco, San Francisco Bay Area, New York City')
