//- TOP BORDER
.top-border
  .w-row
    .w-col.w-col-2.w-clearfix
      a.w-inline-block.brand-logo.animsition-link(href='index.html')
        //- div.logo
        //- img.logo(src='images/logo.png')
    .w-col.w-col-8
      div
        
        //- NAVIGATION
        nav.navigation-type-3
          ul.w-list-unstyled
            li.li-menu-type-2
              a.w-inline-block.link-nav-2.animsition-link.active(href='index.html', data-ix='show-line-menu-type-2')
                div works
              .line-bottom-menu(data-ix='line-menu-type')
            li.li-menu-type-2
              a.w-inline-block.link-nav-2.animsition-link(href='about.html', data-ix='show-line-menu-type-2')
                div about
              .line-bottom-menu(data-ix='line-menu-type')
            li.li-menu-type-2
              a.w-inline-block.link-nav-2.animsition-link(href='contact.html', data-ix='show-line-menu-type-2')
                div contact
              .line-bottom-menu(data-ix='line-menu-type')
    
    //- SOCIAL ICONS
    .w-col.w-col-2
      .social-wrapper
        a.w-inline-block.social-icon.facebook(href='https://www.facebook.com/ego.fy')
          i.fa.fa-facebook
        a.w-inline-block.social-icon.linkedin(href='https://www.linkedin.com/in/efaylona')
          i.fa.fa-linkedin
        a.w-inline-block.social-icon.twitter(href='https://twitter.com/hey_ego')
          i.fa.fa-twitter
        a.w-inline-block.social-icon.instagram(href='https://www.instagram.com/hey_ego/')
          i.fa.fa-instagram
