//- JQUERY SCRIPTS
script(type='text/javascript', src='js/modernizr.js')
script(type='text/javascript', src='js/jquery-1.11.3.min.js')
script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js')
script.
  WebFont.load({
  google: {
  families: ["Lekton:regular","Yellowtail:regular","Playfair Display:regular,italic,700"]
  }
  });
script(type='text/javascript', src='js/isotope.pkgd.min.js')
script(type='text/javascript', src='js/imagesloaded.pkgd.min.js')
script(type='text/javascript', src='js/jquery.animsition.min.js')
script(type='text/javascript', src='js/jquery.fullPage.min.js')
script(type='text/javascript', src='js/royal_preloader/royal_preloader.min.js')
script(type='text/javascript', src='js/jquery.fancybox.pack.js')
script(type='text/javascript', src='js/wow.min.js')
script(type='text/javascript', src='js/tweecoolmi.js')
script(type='text/javascript', src='js/jquery.mb-comingsoon.min.js')
script(type='text/javascript', src='js/typed.js')
script(type='text/javascript', src='js/plugins.js')
//- if lte IE 9
  //- script(src='https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js')
    
//- THEME CUSTOM
script(type='text/javascript', src='js/scripts.js')

//- elevateZOOM
//- script(type='text/javascript', src='js/jquery.elevateZoom-3.0.8.min.js')
//- script(type='text/javascript', src='js/jquery.elevatezoom.js')
