//- THEME CSS STYLE
link(rel='stylesheet', type='text/css', href='css/normalize.css')
link(rel='stylesheet', type='text/css', href='css/base.css')
link(rel='stylesheet', type='text/css', href='css/style.css')
  
//- OTHER CSS STYLE
link(rel='stylesheet', type='text/css', href='css/royal_preloader.css')
link(rel='stylesheet', type='text/css', href='css/animsition.min.css')
link(rel='stylesheet', type='text/css', href='css/jquery.fullPage.css')
link(rel='stylesheet', type='text/css', href='css/jquery.fancybox.css')
link(rel='stylesheet', type='text/css', href='css/font-awesome.min.css')
link(rel='stylesheet', type='text/css', href='css/animate.css')
link(rel='stylesheet', type='text/css', href='css/mb-comingsoon.css')
link(rel='stylesheet', type='text/css', href='fontastic.css')

//- CUSTOM OVERRIDES
link(rel='stylesheet', type='text/css', href='css/custom-styles.css')
link(href='https://fonts.googleapis.com/css?family=Montserrat|Lato:400,300', rel='stylesheet', type='text/css')
