extends layout.jade

block config
  - pageTitle = 'About'
  
block content

  section.w-section.section-imp
    .w-container
    
      .bottom-space
        .title-wrapper.left
        div.about-default
          .w-row
            .w-col.w-col-6.about-left-side
              .both-padd
                .about-photo-container
            .w-col.w-col-6.about-right-side
              div(style='padding-top: 20px')
                include about-blurb.jade
                .w-clearfix.small-spc
                  .w-clearfix.show-filter
                    .filter-button
                      .w-embed
                        i.fa.fa-download
                    .w-clearfix.filter-effect
                      a(href='/images/efaylona-resume2016.pdf', target='_blank')
                        .filter-txt-hide tldr; my resume
