p
  em ** Interviewer walks in... caramel macchiato frappuccino with two shots of espresso in one hand, dogeared Moleskin notebook on the other. Sits down across the subject.
br
h4.about-blurb Tell us a bit about yourself.
p 
  | I'm a San Francisco-based visual designer with focused skill point allocation in brand and UI/UX design for web and mobile. I do print and motion pretty well, too, if I do say so myself.

p Oh, and MNL > SIN > SFO. Put that in there somewhere.
br
h4.about-blurb How did you get here?
p
  | I started as a web designer in 
  a.text-link(href='http://www.thedesignpeople.com/', target='_blank') a small design studio in the Philippines
  |  that specialized in US Realtors' websites. I then moved on to a company that did web design for major brands in the country. Early 2010, I was hired by 
  a.text-link(href='http://www.aleph-labs.com/', target='_blank') a design studio in Singapore
  |  to do UI/UX work for major financial institutions (read: banks) in Singapore. I eventually did project management, on top of being the designer for said client. A year and a half after that, 
  a.text-link(href='https://twitter.com/Identified', target='_blank') Identified
  |  brought me on as a UX Designer. We realized soon after that the company needed someone in charge of the brand AND the product's visual direction, so I landed the Art Director role. Identified was 
  a.text-link(href='http://www.workday.com/identified.php') acquired
  |  by 
  a.text-link(href='http://www.workday.com/', target='_blank') Workday
  |  in 2014.
br
h4.about-blurb Any skills you're willing to brag about?
p 
  | I like to wear a lot hats. Most of my time at Identified involved jumping between product, marketing and sales design work, depending on the need. These needs span across all types of media. I even designed company merch. 
p 
  | Tools of the trade are the usual suspects: Adobe Creative Suite stuff: Photoshop, Illustrator, Lightroom, InDesign, After Effects and Premiere. I've been rocking Sketch a lot recently, and use Balsamiq Mockups and Axure for wireframing. I have a good working knowledge of HTML/CSS standards, and have taken up a bit of front-end development work, focusing on Jade, Slim, HAML & SASS to add to my current skillset. Heck, I took a regular html template and turned it into a 
  a.text-link(href='jade/layout.jade', target='_blank') custom
  | 
  a.text-link(href='jade/index.jade', target='_blank') Jade
  | 
  a.text-link(href='jade/_item.jade', target='_blank') template
  |  for my portfolio!
br
h4.about-blurb That's not bragging at all. So what's next for you?
p 
  | I'm looking for a more senior position, maybe a design lead role that would entail me working with a couple of talented designers, while still getting my hands dirty doing production work. I don't mind being on the same level as I am right now, as long as it's something I really love doing.
br
h4.about-blurb One last thing, is it really "Ego"?
p 
  | Yes. And no, I'm not an 
  a.text-link(href='http://english.stackexchange.com/questions/7482/whats-the-difference-between-egotism-and-egoism', target='_blank') egoist/egotist
  | .
p It's also not my stripper name.
