extends layout.jade

block content

  section.w-section.section-imp
    .w-container
    
      .bottom-space.contact-container
        .title-wrapper.left
          //- h2.author-name get in touch
          div
            img(src='images/sub-handmade.png')
        div
          .cont-info
            a.text-link(href='mailto:ego.faylona@gmail.com?subject=Yo%20Ego&body=I%20wanna%20talk%20to%20you%20about...') ego.faylona@gmail.com
          .cont-info +1 415 624 9799
          .small-spc
            .align-left
              a.w-inline-block.social-icon.social-bigger.facebook(href='https://www.facebook.com/ego.fy')
                .w-embed
                  i.fa.fa-facebook
              a.w-inline-block.social-icon.twitter.social-bigger(href='https://twitter.com/hey_ego')
                .w-embed
                  i.fa.fa-twitter
              a.w-inline-block.social-icon.instagram.social-bigger(href='https://www.instagram.com/hey_ego/')
                .w-embed
                  i.fa.fa-instagram
