extends _item_layout.jade

block config
  - pageTitle = 'Candy Paws'

block images
  .w-slide.slide-1
    img(src='/images/items/web-candypaws-01.png')
  .w-slide.slide-1
    img(src='/images/items/web-candypaws-02.png')
  .w-slide.slide-1
    img(src='/images/items/web-candypaws-03.png')
  .w-slide.slide-1
    img(src='/images/items/web-candypaws-04.png')
    
block title
  | Candy Paws

block description
  p It's like Facebook, but for dogs ;)

block client
  | The Design People, Inc., Candy Paws

block role
  | UI

block toolsUsed
  | Photoshop

block dateCreated
  | April 2008
