extends _item_layout.jade

block config
  - pageTitle = 'What Makes You Unique?'

block images
  .w-slide.slide-1
    img(src='/images/items/web-idsignup-01.png')
  .w-slide.slide-1
    img(src='/images/items/web-idsignup-02.png')
  .w-slide.slide-1
    img(src='/images/items/web-idsignup-03.png')
  .w-slide.slide-1
    img(src='/images/items/web-idsignup-04.png')
  .w-slide.slide-1
    img(src='/images/items/web-idsignup-05.png')
  .w-slide.slide-1
    img(src='/images/items/web-idsignup-06.png')
    
block title
  | What Makes You Unique?

block description
  p User sign-up flow for Identified.com with a friendlier and more familiar approach.

block client
  | Identified.com

block role
  | UX, UI

block toolsUsed
  | Illustrator, Photoshop

block dateCreated
  | Created: March 2012
