extends _item_layout.jade

block config
  - pageTitle = 'Identified Marketing eBooks'

block images
  .w-slide.slide-1
    img(src='/images/items/branding-ebooks-01.png')
  .w-slide.slide-1
    img(src='/images/items/branding-ebooks-02.png')

block title
  | Identified Marketing eBooks

block description
  p
    | Downloadable eBooks designed to accompany landing pages that generated marketing leads. Some samples can be downloaded in their final PDF format below:
  p
    ul
      li
        a.text-link(target='_blank', href='/images/items/ebook-boolean-logic.pdf') Boolean Logic: The Trick to More Productive Online Candidate Searches
      li
        a.text-link(target='_blank', href='/images/items/ebook-bigbook.pdf') Big Book of Healthcare Recruiting Tips
      li
        a.text-link(target='_blank', href='/images/items/ebook-definitivefb.pdf') The Definitive Guide to Facebook Recruiting
      li
        a.text-link(target='_blank', href='/images/items/ebook-5essential.pdf') 5 Essential Steps for Social Recruiting Success
      li
        a.text-link(target='_blank', href='/images/items/ebook-recruitingbest.pdf') Recruiting Best Practices
      li
        a.text-link(target='_blank', href='/images/items/ebook-fbrecruiting.pdf') Facebook Receruiting Works!


block client
  | Identified.com

block role
  | Layout, design, artwork

block toolsUsed
  | Illustrator, InDesign, pen, paper

block dateCreated
  | 2013
