extends _item_layout.jade

block config
  - pageTitle = 'SYMAN'

block images
  .w-slide.slide-1
    img.img-cover(src='/images/items/branding-symanrobot-02.png')
  .w-slide.slide-1
    img.img-cover(src='/images/items/branding-symanrobot-01.png')
  .w-slide.slide-1
    img(src='/images/items/branding-symanrobot-03.png')
    
block title
  | SYMAN

block description
  p 
    | Mascot for Identified's machine learning technology, SYMAN. 
    | Assets were used in web, print collateral, digital media and 
    a.text-link(href='item-video-syman.html') promotional videos
    | , as well as other promotional items like t-shirts, stickers, hoodies, etc.

block client
  | Identified.com

block role
  | conceptualization, artwork

block toolsUsed
  | pen, paper, Illustrator, Paper (iPad app), camera

block dateCreated
  | April 2013
