extends _item_video_layout.jade

block config
  - pageTitle = '5 Ways Social Media is Changing Passive Recruiting'
  

block images
  .w-slide.slide-1
    iframe.videoContainer(height='600' src='https://www.youtube.com/embed/CaiNVxjW-v4?autoplay=1&modestbranding=1&autohide=1&showinfo=0', frameborder='0', allowfullscreen='')

block title
  | 5 Ways Social Media is Changing Passive Recruiting

block description
  p Marketing content video on recruiting through various social media channels.
  
block client
  | Identified.com

block role
  | Art direction, videography, post-production

block toolsUsed
  | Nikon D7100, Nikkor 50 f/1.8, lapel mic, After Effects, Premiere, Audition

block dateCreated
  | Created: July 2013
