extends _item_layout.jade

block config
  - pageTitle = 'SCB Mortgage Planner'

block images
  .w-slide.slide-1
    img(src='/images/items/web-scbmort-01.png')
  .w-slide.slide-1
    img(src='/images/items/web-scbmort-02.png')
  .w-slide.slide-1
    img(src='/images/items/web-scbmort-03.png')
  .w-slide.slide-1
    img(src='/images/items/web-scbmort-04.png')
  .w-slide.slide-1
    img(src='/images/items/web-scbmort-05.png')
  .w-slide.slide-1
    img(src='/images/items/web-scbmort-06.png')
    
block title
  | SCB Mortgage Planner

block description
  p User sign up workflow for Standard Chartered's mortgage planning web app.

block client
  | Aleph Labs, Standard Chartered Singapore

block role
  | wireframes, UX, UI

block toolsUsed
  | Axure, Photoshop

block dateCreated
  | Created: April 2010
