extends _item_layout.jade

block images
  .w-slide.slide-1
    img(src='/images/items/mob-ocbc-01.png')
  .w-slide.slide-1
    img(src='/images/items/mob-ocbc-02.png')
        
block title
  | OCBC Mobile Banking

block description
  p Mobile app design for OCBC bank, one of the biggest banks in Singapore.
  
block client
  | Aleph Labs, OCBC Singapore

block role
  | UX, UI, Project Management

block toolsUsed
  | Axure, Photoshop, Illustrator, pen, paper

block dateCreated
  | Created: November 2010
