extends _item_layout.jade

block config
  - pageTitle = 'CareerAdvice'

block images
  .w-slide.slide-1
    img(src='/images/items/mob-careeradvice-01.png')
  .w-slide.slide-1
    img(src='/images/items/mob-careeradvice-02.png')

block title
  | CareerAdvice

block description
  p An app that aims to help people who seek career advice get trustworthy answers from industry experts. &quot;Experts&quot; can choose to answer specific questions and get compensated wholly or elect to donate a percentage of it to charity.
  p A working prototype was developed in an internal hackathon.

block client
  | Pavan Boob, Ram Kumar

block role
  | UX, UI

block toolsUsed
  | Sketch, pen, paper

block dateCreated
  | Oct 2014


//- extends layout.jade
//- 
//- block styles
//-   style(type='text/css').
//-     section.w-section.section-imp {
//-       padding: 0;
//-     }
//- 
//- block content
//- 
//-   section.w-section.section-imp
//-     .w-container
//-         
//-       //- IMAGES
//-       .port-item-spc
//-         .w-slider.slider-page(data-animation='slide', data-duration='500', data-infinite='1', data-nav-spacing='5')
//-           .w-slider-mask
//-             .w-slide.slide-1
//-               img(src='/images/items/mob-ca-01.png')
//-             .w-slide.slide-1
//-               img(src='/images/items/mob-ca-02.png')
//-           .w-slider-arrow-left
//-             .w-icon-slider-left.arrow-slider.left
//-           .w-slider-arrow-right
//-             .w-icon-slider-right.arrow-slider.right
//-           .w-slider-nav.w-slider-nav-invert.w-round.slide-dots
//-       
//-       //- ITEM DESCRIPTION
//-       //- .port-item-spc.item-description
//-       //-   h1.port-item-title CareerAdvice
//-       //-   .w-row
//-       //-     .w-col.w-col-8
//-       //-       h4.post-title Project description
//-       //-       p An app that aims to help people who seek career advice get trustworthy answers from industry experts. &quot;Experts&quot; can choose to answer specific questions and get compensated wholly or elect to donate a percentage of it to charity.
//-       //-       p A working prototype was developed in an internal hackathon.
//-                   
//-       //- ITEM DETAIL
//-       +item-detail({ itemTitle: 'CareerAdvice',
//-                      itemDetailDescription: '<p>An app that aims to help people who seek career advice get trustworthy answers from industry experts. "Experts" can choose to answer specific questions and get compensated wholly or elect to donate a percentage of it to charity.</p><p>A working prototype was developed in an internal hackathon.</p>',
//-                      itemDetailClient: 'Pavan Boob, Ram Kumar',
//-                      itemDetailRole: 'UX, UI',
//-                      itemDetailToolsUsed: 'Sketch, pen, paper',
//-                      itemDetailDateCreated: 'Oct 2014'
//-                      })
