extends _item_layout.jade

block config
  - pageTitle = 'Identified'

block images
  .w-slide.slide-1
    img(src='/images/items/branding-identified-01.png')
  .w-slide.slide-1
    img(src='/images/items/branding-identified-02.png')
  .w-slide.slide-1
    img(src='/images/items/branding-identified-03.png')
  .w-slide.slide-1
    img(src='/images/items/branding-identified-04.png')
  .w-slide.slide-1
    img(src='/images/items/branding-identified-05.png')

block title
  | Identified

block description
  p
    | Brand design for Identified. Solely established the style guide and has always been a work in progress due to the nature of a startup workload. Some of the progression below:
  p
    ul
      li
        a.text-link(target='_blank', href='/images/items/branding-idStyleGuide-033012.pdf') Initial
      li
        a.text-link(target='_blank', href='/images/items/branding-idStyleGuide-082713-wip.pdf') Quick view (for Marketing and PR team distribution)
      li
        a.text-link(target='_blank', href='/images/items/branding-idStyleGuide-120613-wip.pdf') Last iteration (was still WIP then)
        
block client
  | Identified.com

block role
  | design, layout, implementation

block toolsUsed
  | Illustrator, InDesign

block dateCreated
  | 2012 - 2013
