extends _item_layout.jade

block images
  .w-slide.slide-1
    img(src='/images/items/web-identified2013-01.png')
  .w-slide.slide-1
    img(src='/images/items/web-identified2013-02.png')
  .w-slide.slide-1
    img(src='/images/items/web-identified2013-03.png')
  .w-slide.slide-1
    img(src='/images/items/web-identified2013-04.png')
  .w-slide.slide-1
    img(src='/images/items/web-identified2013-05.png')

block title
  | Identified.com (2013)

block description
  p Third iteration of the Identified corporate site that put emphasis on marketing content to drive sales leads.

block client
  | Identified.com

block role
  | UX, UI

block toolsUsed
  | Balsamiq, Illustrator, Photoshop, Nikon D7100

block dateCreated
  | Created: April 2013
