extends _item_video_layout.jade

block config
  - pageTitle = 'SYMAN'
  

block images
  .w-slide
    iframe.videoContainer(height='600', src='https://www.youtube.com/embed/bm2ikwpuE3Q?autoplay=1&modestbranding=1&autohide=1&showinfo=0', frameborder='0', allowfullscreen='')

block title
  | SYMAN

block description
  p Promotional video for Identified's SYMAN (SYstematic MAss Normalization) technology.
  
block client
  | Identified.com

block role
  | Storyboard, graphic design, animation

block toolsUsed
  |  Pen, paper, Illustrator, After Effects, Premiere, Audition

block dateCreated
  | Created: March 2013
