extends _item_layout.jade

block config
  - pageTitle = 'Identified Employee Timeline'

block images
  .w-slide.slide-1
    img(src='/images/items/art-idtimeline-01.svg' style='object-fit: cover')
  .w-slide.slide-1
    img(src='/images/items/art-idtimeline-02.png')
  .w-slide.slide-1
    img(src='/images/items/art-idtimeline-03.png')

block title
  | Identified Employee Timeline

block description
  p Timeline of all Identified employees. Colored lines represent each employee, the length of each denoting the duration of employment. Date of joining is denoted by the angle of the line with the earliest employees starting from the 12'o clock position, going clockwise.

block client
  | Personal

block role
  | Digital, live art

block toolsUsed
  | Illustrator, threads, needles, construction board, glue, pen, paper

block dateCreated
  | March 2012
  
