extends _item_layout.jade

block config
  - pageTitle = 'BASF iPad app'

block images
  .w-slide.slide-1
    img(src='/images/items/mob-basf-01.png')
  .w-slide.slide-1
    img(src='/images/items/mob-basf-02.png')
  .w-slide.slide-1
    img(src='/images/items/mob-basf-03.png')
  .w-slide.slide-1
    img(src='/images/items/mob-basf-04.png')
  .w-slide.slide-1
    img(src='/images/items/mob-basf-05.png')
                
block title
  | BASF iPad app

block description
  p Design proposal for BASF product brochure iPad app that doubles as a company-related news delivery system.
  
block client
  | Aleph Labs, BASF

block role
  | UX, UI

block toolsUsed
  | Photoshop, Illustrator

block dateCreated
  | February 2011
