extends _item_layout.jade

block config
  - pageTitle = "Kristy & Stewart's 10th"

block images
  .w-slide.slide-1
    img.maximizeItem(src='/images/items/photo-kristew-01.png')
  .w-slide.slide-1
    img.maximizeItem(src='/images/items/photo-kristew-02.png')
  .w-slide.slide-1
    img.maximizeItem(src='/images/items/photo-kristew-03.png')
  .w-slide.slide-1
    img.maximizeItem(src='/images/items/photo-kristew-04.png')
            
block title
  | Kristy & Stewart's 10th

block description
  p Outdoor photoshoot for a friend's 10th anniversary.
  
block client
  | Personal

block role
  | Art direction, photography

block toolsUsed
  | Nikon D7100, Nikkor 50 f/1.8, light diffuser, reflector, Lightroom

block dateCreated
  | Created: November 2015

block launchProject
  a.w-button.button(href='https://www.flickr.com/gp/eehgow/u7W4GG', target='_blank') Launch Project
