extends _item_layout.jade

block config
  - pageTitle = 'Aleph Labs (2013)'

block images
  .w-slide.slide-1
    img(src='/images/items/web-aleph-01.png')
  .w-slide.slide-1
    img(src='/images/items/web-aleph-02.png')
  .w-slide.slide-1
    img(src='/images/items/web-aleph-03.png')

block title
  | Aleph Labs (2010)

block description
  p Site redesign for Aleph Labs, a boutique design studio based in Singapore. Created in-house, collaborated with developers to produce live site.

block client
  | Aleph Labs

block role
  | wireframes, UX, UI

block toolsUsed
  | Illustrator, Photoshop

block dateCreated
  | Created: March 2010
