extends _item_video_layout.jade

block images
  .w-slide.slide-1
    iframe.videoContainer(height='600' src='https://www.youtube.com/embed/65pmfr8YIes?autoplay=1&modestbranding=1&autohide=1&showinfo=0', frameborder='0', allowfullscreen='')

block title
  | Identified Recruit Demo

block description
  p Demo video of the Identified Recruit web app, targeting potential customers looking into passive recruiting through social media channels.
  
block client
  | Identified.com

block role
  | Art direction, post-production

block toolsUsed
  | pen, paper, Illustrator, After Effects, Premiere, Audition

block dateCreated
  | Created: July 2013
