doctype html

html(lang='en-US')

  head
  
    block config
    - siteName = 'Ego Faylona | Portfolio: Identified Employee Timeline'
    
    include _head.jade
    link(rel='stylesheet', type='text/css', href='css/royal_preloader.css')
    script(type='text/javascript', src='js/jquery.js')
    script(type='text/javascript', src='js/royal_preloader.min.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js')  
    script(type='text/javascript').
      Royal_Preloader.config({
                      // mode:       'line',
                      mode: 'logo',
                      logo: '../../images/logo_400-c_outline.png',
                      logo_size: [150,150],
                      timeout:    12,
                      background: '#fff',
                      // showPercentage: true
      });
      WebFont.load({
      google: {
      families: ["Lekton:regular,700","Yellowtail:regular","Playfair Display:regular,italic,700"]
      }
      });

    script(type='text/javascript', src='js/jquery-1.11.3.min.js')
    script(type='text/javascript', src='js/jquery.elevatezoom.js')
    
    include _favicon.jade
    
    style(type='text/css').
      html, body {
        margin: 0 auto;
        height: 100%;
      }
      .main {
        height: 100%;
        width: 100%;
        display: table;
        //- padding: 20px;
      }
      .wrapper {
        display: table-cell;
        height: 100%;
        vertical-align: middle;
      }
      #zoom_01 {
        width: 100%;
      }
      .hide {
        display: none;
        //- visibility: hidden;
      }
      
      .instr {
        display: block;
        float: left;
        font-family: Lekton, sans-serif;
        margin: 20px 0;
        text-align: center;
        width: 100%;
      }
      
      img {
        object-fit: contain;
      }
    
  body.royal_preloader
  
    #royal_preloader
    
    .main
      .wrapper
        .instr Hover to zoom
        img#zoom_01(src='images/items/art-idtimeline-01-large.jpg', data-zoom-image='images/items/art-idtimeline-01-large-01.png')
        
    img.hide(src='images/items/art-idtimeline-01-large-01.png')    

    

  script.
    $('#zoom_01').elevateZoom({
    zoomType: "inner",
    cursor: "crosshair",
    zoomWindowFadeIn: 500,
    zoomWindowFadeOut: 350
    });
