extends _item_video_layout.jade

block images
  .w-slide.slide-1
    iframe.videoContainer(height='600' src='https://www.youtube.com/embed/dYIFqwXbN4o?autoplay=1', frameborder='0', allowfullscreen='')

block title
  | Customer Testimonial: Betts Recruiting

block description
  p Customer success story from Betts Recruiting for Identified.
  
block client
  | Identified.com

block role
  | Art direction, videography, post-production

block toolsUsed
  | Nikon D7100, Nikkor 50 f/1.8, lapel mic, After Effects, Premiere, Audition

block dateCreated
  | Created: December 2013
