extends _item_video_layout.jade

block config
  - pageTitle = "Susie's Poetry Book Project"
  

block images
  .w-slide
    iframe.videoContainer(height='600', src='https://www.youtube.com/embed/kOKEj14nvBU?modestbranding=1&autohide=1&showinfo=0', frameborder='0', allowfullscreen='')

block title
  | Susie's Poetry Book Project

block description
  p Crowdfunding campaign video for a poetry book project.
  
block client
  | Kristin Fugitt

block role
  | Art direction, videography, post-production

block toolsUsed
  |  Nikon d7100, Nikkor 50mm f/1.4, camera gimbal, lapel mic, After Effects, Premiere, Audition

block dateCreated
  | Created: July 2013
