include _item.jade

doctype html

html(lang='en-US')

  head
  
    block config
    - siteName = 'Ego Faylona | Portfolio: ' + pageTitle
    
    include _head.jade

    block scripts
    include _styles.jade
    block styles
    
    include _favicon.jade

  //- body.royal_preloader.animsition
  body.royal_preloader
  
    //- ROYAL PRELOADER
    #royal_preloader

    include _main-nav.jade
    //- include _left-border.jade
    //- include _right-border.jade
    include _footer.jade

    include _responsive-nav.jade

    block content

    //- SCROLL TO TOP
    a.cd-top(href='#0') Top

    include _scripts.jade
