// PROFILE SECTION START
section#profile.section
  .container.section-wrapper
    .section-content
      .row
        .col-md-7.match-height
          // PROFILE TEXT START
          .profile-text.padding-right-yes
            .row
              .col-md-12
                h2.section-title.uppercase Hello, My Name is Berg.
                p
                  | Nick Berg, 28 years young, born and grew up in Water Seven, Grand Line. Highly motivated creative developer with international client portfolio.
                span.divider
                p.text-grey
                  | I currently work at Galley-La Company, where I spend most of my time crafting and working on awesome projects.
                p.text-grey
                  | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
              // //.col-md-12
            // //.row
          // //PROFILE TEXT END
          // CONTACT DETAILS START
          .contact-details.padding-right-yes
            .row
              .col-sm-6.col-md-5
                h4.uppercase Contact Details
                ul.list-unstyled.text-grey
                  li Nick Berg
                  li 123 Water Seven, Grand Line
                  li +123 456 7890
                  li hello@nickberg.com
                  li www.nickberg.com
              // //.col-md-5
              .col-sm-6.col-md-7
                a.btn.btn-lg.btn-custom(href='#')
                  i.icon-File-Download
                  |  Download Resume
              // //.col-md-6
            // //.row
          // //CONTACT DETAILS END
        // //.col-md-7
        // PROFILE PICTURE START
        .col-md-5.hidden-xs.hidden-sm.match-height.pp-wrapper
          .profile-picture.style-one
            img.img-responsive(src='assets/images/profile-picture-1.jpg', alt='profile picture')
        // //PROFILE PICTURE END
      // //.row
    // //.section-content
  // //.container
// //PROFILE SECTION END