// SERVICES SECTION START
section#services.section
  .container.section-wrapper
    .section-content
      .row
        .col-md-8.col-md-offset-2.text-center
          h2.section-title.uppercase What I'm Doing
          p.section-subtitle
            | I love what I do. I take great pride in what I do. And I can't do something halfway, three-quarters, nine-tenths. If I'm going to do something, I go all the way.
          span.divider.center
        // //.col-md-8
      // //.row
      // SERVICES START
      .services
        .row
          .col-sm-4.col-md-4.item.top.dark-bg
            .inner-content
              i.icon-Chess.colored-text
              h4.uppercase 1. Strategy
              p.text-grey
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            // //.inner-content
          // //.item
          .col-sm-4.col-md-4.item.top
            .inner-content
              i.icon-Leafs-2.colored-text
              h4.uppercase 2. Branding
              p.text-grey
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            // //.inner-content
          // //.item
          .col-sm-4.col-md-4.item.top.dark-bg
            .inner-content
              i.icon-Transform-2.colored-text
              h4.uppercase 3. Web Design
              p.text-grey
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            // //.inner-content
          // //.item
        // //.row
        .row
          .col-sm-4.col-md-4.item
            .inner-content
              i.icon-Speach-Bubble3.colored-text
              h4.uppercase 4. Social Media
              p.text-grey
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            // //.inner-content
          // //.item
          .col-sm-4.col-md-4.item.dark-bg
            .inner-content
              i.icon-Monitor-Tablet.colored-text
              h4.uppercase 5. Development
              p.text-grey
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            // //.inner-content
          // //.item
          .col-sm-4.col-md-4.item
            .inner-content
              i.icon-Consulting.colored-text
              h4.uppercase 6. Consulting
              p.text-grey
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            // //.inner-content
          // //.item
        // //.row
      // //SERVICES END
    // //.section-content
  // //.container
// //SERVICES SECTION END 